<!--TODO: Convert app to an AngularJS app -->
<!--TODO: 3. Load the necessary js files (both 3rd party and your own)-->
<!--TODO: 4. Designate your app's root element -->
<!--TODO: 5. Attach the controller to the registration form -->
<!--TODO: 7. Apply two-way data-binding to the registration form fields so that view is automatically synced to the -->
<!--TODO: 7. data model defined in your controller-->
<!--TODO: 8. Call the ctrl.register function when the Register button is clicked-->
<!DOCTYPE html>
<!-- TODO: 4.1 Designate <html> as the app's root element -->
<!-- By using the ng-app directive, <html> is designated as the root element of the -->
<!-- AngularJS application (in this case, the DMS module) -->
<html lang="en" ng-app="DMS">
<head>
    <meta charset="utf-8">
    <title>Department Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap core CSS, must be enabled for program to work -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<!-- Sets navigation bar classes -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <!-- Defines navigation bar button -->
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">DMS</a>
        </div>

        <!-- Collects nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a href="#">Registration <span class="sr-only">(current)</span></a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!--TODO 5.1 Attach controller-->
<!--The ng-controller directive tells Angular the scope of the controller-->
<!--In this case, the RegCtrl is given the scope of the <div> element where it is called-->
<!--We then use RegCtrl (as ctrl) to manipulate elements within this <div>-->
<div class="container" ng-controller="RegCtrl as ctrl">
    <div class="page-header">
        <h1>Department Management System <small>Registration</small></h1>
    </div>
    <br/>

    <!--TODO: 8.1a Replace the <form> method and action attributes with the ng-submit directive-->
    <!--TODO: 8.1b Call the ctrl.register function when the Register button is clicked or ENTER is pressed-->
    <!-- Creates Input Form and fields -->
    <!--The ng-submit directive specifies the function called when the Register button is clicked or ENTER is pressed-->
    <form name="regForm"  ng-submit="ctrl.register()" autocomplete="off">

        <div class="form-group">

            <label for="deptNo">Department No:</label>

            <!--TODO: 7.1 Bind the department number to ctrl.department.id -->
            <!--Using the ng-model directive, we perform a 2-way data binding between the department input field and-->
            <!--the ctrl.department.id data model. By doing so, we automatically sync the view data and the data model data -->
            <input type="number" id="deptNo" name="deptNo"
                   class="form-control"
                   ng-model="ctrl.department.id"
                   required>

        </div>

        <div class="form-group">

            <label for="deptName">Department name:</label>

            <!--TODO: 7.2 Bind the department name to ctrl.department.name -->
            <!--Using the ng-model directive, we perform a 2-way databinding between the department input field and-->
            <!--the ctrl.department.id data model. This automatically syncs the view data and the data model data -->
            <input type="text" id="deptName" name="deptName"
                   class="form-control"
                   ng-model="ctrl.department.name"
                   required>

        </div>


        <!-- Creates button used to submit data -->
        <div class="form-group">
            <!-- The <button> type attribute specifies the behavior of the button -->
            <!-- A button with type=submit submits form data to the server -->
            <button type="submit" class="btn-success form-control">
                Register
            </button>

        </div>

    </form>
</div>

<!-- Loads dependencies: Placed at the end of the document so the pages load faster -->
<!-- bootstrap uses jquery and needs to be loaded even if we don't use directly in our app. -->
<!-- jquery should always be loaded before bootstrap -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!--TODO: 3.1 Load angular-->
<script src="bower_components/angular/angular.min.js"></script>

<!--Load app's custom JS files-->
<!--TODO: 3.2 Load the js file that defines the DMS module-->
<!--Loads the js file that contains the DMS module definition-->
<script src="app/app.js"></script>
<!--TODO: 3.3 Load the js file that defines the RegCtrl controller-->
<!--Loads the js file that contains the RegCtrl controller definition-->
<script src="app/registration/register.controller.js"></script>

</body>
</html>